<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request List</title>
</head>
<body>
<h3>Request List</h3>
{% for project in projects %}
    <p>{{ forloop.counter }}. {{ project.name }} - {{ project.get_course_display }}
        (<a href="{% url 'projects:project_update' project.id %}">Update</a> |
        <a href="{% url 'projects:project_delete' project.id %}">Delete</a>)
    </p>
{% endfor %}

<p> <a href="{% url 'projects:project_create' %}"> + Start new request</a></p>
</body>
</html>